/*------General-----*/

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.resultsList {
  height: 160px;
}
.btn-secondary {
    margin: 10px;
}

/*------form-----*/

.form-group {
    margin: 1rem;
}

/*------map-----*/

#map {
    height: 100%;
}
.angular-google-map-container {
    height: 400px;
}
