<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-med-10 col-med-offset-1">
      <div class="panel panel-default">
        <form ng-submit="findLunch(input)">
          <div class="form-group">
            <label for="location">Location?</label>
            <input ng-model="input.address" id="address" type="text" name="location" value="" placeholder="address here">
            <div class="form-check">
            <label for="currentLocation" class="form-check-label">
              <input ng-model="input.geolocation" id="geolocation" name="currentLocation" type="checkbox" class="form-check-input">
              Check to Use Current Location
            </label>
          </div>
          <div class="form-group">
            <label for="radius">How far are you willing to travel?</label>
            <input ng-model="input.radius" id="radius" type="number" name="radius" value="" placeholder="enter a distance 1 to 50000 miles here">
          </div>
          <div class="form-group">
            <label for="minPrice">Least you would like to spend?</label>
            <input ng-model="input.minPrice" id="minPrice" type="number" name="minPrice" value="" placeholder="(optional)">
            <label for="maxPrice">Most you would like to spend?</label>
            <input ng-model="input.maxPrice" id="maxPrice" type="number" name="maxPrice" value="" placeholder="(optional)">
          </div>
          <div class="form-group">
            <label for="isOpen" class="form-check-label">
              <input ng-model="input.open" id="isOpen" name="isOpen" type="checkbox" class="form-check-input">
              Check for Restuarants Currently Open
            </label>
          </div>
          <button type="submit" class="btn btn-primary btn-block">Find Some Lunch!</button>
        </form>
      </div>
    </div>
  </div>
</div>
